@font-face {
  font-family: fuente_1;
  src: url(/DesafiosM6/Ejercicio_1/coolvetica.otf);
}

@font-face {
  font-family: fuente_2;
  src: url(/DesafiosM6/Ejercicio_1/Roboto-Light.ttf);
}

body {
  text-align: center;
}
h1 {
  font-size: 120px;
  color: #0a2ff1;
  font-family: fuente_1;
}
p,
button {
  font-size: 40px;
  color: #04146c;
  font-family: fuente_2;
}
button {
  background-color: #0a2ff1;
  color: white;
  border: 3px solid #0a2ff1;
  display: block;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}
#boton {
  background-color: white;
  color: #04146c;
}
